[submodule "Packages/Card Engine"]
	path = Packages/Card Engine
	url = https://github.com/crimsoncero/CardEngine.git
[submodule "Submodules/CardGameEngine"]
	path = Submodules/CardGameEngine
	url = https://github.com/crimsoncero/CardGameEngine
